*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
html {
    scroll-behavior: smooth;
  }
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    font-weight: bold;
}
h2{
  /* margin:0; */
}
#home,
#introduction,
#projects,
#experience,
#skills {
  /* height: 100vh; */
}
#home,#experience,#skills {
  background: var(--clr-white);
}
#introduction,#projects {
  background: var( --clr-primary-10);
}
.nav-center{
  /* display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}
.links-container{
  overflow: hidden;
  /* --transition: all 0.3s linear; */
  transition: var(--transition);
}
.nav-links{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
.title{
  text-align: center;
}
 .cover-photo
{
  background: url(./images/cover-photo.jpg) repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
  background-position-x: right;
  /* opacity: 0.5; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-text{
  border-right:2px solid #fff;
  overflow: hidden;
  animation:animate 3s steps(28) infinite;
  white-space: nowrap;
  font-size: 2.5rem;
}
@keyframes animate {
  
  0%{
    width:0;
  }
  100%{
    width:28ch;
  }

}
.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2% 2% 2% 2%;
    text-align: initial;
}
#exp-wrapper{
  margin:10px;
}
 #exp-wrapper > div{
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
}
#exp-info{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
} 
#exp-info div{
  text-align: initial;
  /* width: -webkit-fill-available; */
}
div > h3,h4,h5{
  margin:0
}
#list{
  list-style: none;
}
#skill-set{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin:10px;
}
#skill-set > section{
  padding:15px;
  text-align: initial;
}
.nav-header{
  display: none;
}
.links-container{
  height: auto;
}
#_h_lg{
  display: block;
}
#_h_lb{
  display: none;
}
.logo{
  width: auto;
  max-width: 70px;
}
.cover-photo .dynamic-text{
  overflow: hidden;
  height: 90px;
  line-height: 90px;
}
.dynamic-text li {
  list-style: none;
  color:#fff;
  position: relative;
  top:0;
  animation: slide 12s steps(4) infinite;
  text-transform: uppercase;
}
@keyframes slide{
  100%{
    top:-360px;
  }
}
.dynamic-text li span{
  position: relative;
}
.dynamic-text li span:after{
  content:"";
  position: absolute;
  left:0;
  top:0;
  height:100%;
  /* width:100%; */
  /* background: red; */
  /* border-left: 2px solid #000; */
  animation: typing 3s steps(30) infinite;
}
@keyframes typing{
  0%{
    width:0;
  }
  100%{
    width:30ch;
    left:100%
  }
}
.projects{
  display: flex;
}
.projects > div{
  padding: 15px;
  /* display: flex; */
  text-align: initial;
  width: 33.33%;
}
#project-wrapper{
  margin:10px;
}

.font-size-10{
  
}
hr {
  border:none
}














/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
  #skill-set{
    flex-direction: column;
  }
  #exp-wrapper > div{
    flex-direction: column-reverse;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin:0;
    padding: revert;
  }
  .links-container{
    height:0px;
  }
  .nav-header{
    /* display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    padding: 0px 15px;
  }
  #_h_lg{
    display: none;
  }
  #_h_lb{
    display: block;
  }
  .font-size-10{
    font-size: 12px;
  }
  .exp-info-2{
    margin: 12px 0px 0px 0px;
  }
  .exp-info-1{
    margin: 0px 0px 12px 0px;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#d7d7a7;
    height: 1px;
  }
  .projects{
    justify-content: space-between;
    flex-direction: column;
  }
  .projects > div{
    width:100%;
  }
  #exp-info div{
    width: -webkit-fill-available;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 426px) and (max-width :650px) {
  #skill-set{
    flex-direction: column;
  }
  #exp-wrapper > div{
    flex-direction: column-reverse;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin:0;
    padding: revert;
  }
  .links-container{
    height:0px;
  }
  .nav-header{
    /* display: block; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    padding: 0px 15px;
  }
  #_h_lg{
    display: none;
  }
  #_h_lb{
    display: block;
  }
  .font-size-10{
    font-size: 12px;
  }
  .exp-info-2{
    margin: 12px 0px 0px 0px;
  }
  .exp-info-1{
    margin: 0px 0px 12px 0px;
  }
  hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#d7d7a7;
    height: 1px;
  }
  .projects{
    justify-content: space-between;
    flex-direction: column;
  }
  .projects > div{
    width:100%;
  }
  #exp-info div{
    width: -webkit-fill-available;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}





